{
  "editor.defaultFormatter": "esbenp.prettier-vscode",
  "editor.formatOnSave": true,
  "[python]": {
    "editor.defaultFormatter": "charliermarsh.ruff"
  },
  "python.analysis.extraPaths": ["apps/api/src"],
  "ruff.path": ["${workspaceFolder}/apps/api/.venv/bin/ruff"]
}
